option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
  aws:ec2:instances:
    InstanceTypes: t2.micro
    EnableSpot: false
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 2
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
    ServiceRole: aws-elasticbeanstalk-service-role
    EnvironmentType: LoadBalanced
  aws:autoscaling:launchtemplate:
    IamInstanceProfile: ec2-dynamodb-elasticbeanstalk-instance-profile
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /api/health
  aws:elasticbeanstalk:command:
    Timeout: 600
  aws:elb:healthcheck:
    Interval: 10
    Timeout: 5
    HealthyThreshold: 3
    UnhealthyThreshold: 5
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
