option_settings:
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
  aws:ec2:instances:
    InstanceTypes: t2.micro
    EnableSpot: false
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 2
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
    ServiceRole: aws-elasticbeanstalk-service-role
    EnvironmentType: LoadBalanced
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /api/health
  aws:elasticbeanstalk:command:
    Timeout: 600
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /api/health
    Port: 5000