files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/flask.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/flask/application.log
      /var/log/flask/error.log

container_commands:
  01_create_log_dir:
    command: "mkdir -p /var/log/flask/"
  02_change_permission:
    command: "chmod 777 /var/log/flask/"
